<script src=https://code.jquery.com/jquery-3.6.0.min.js></script>

<script>
        var pathname = $(location).attr('pathname');
        var selected
        $('.nav-link').removeClass('active');
        switch (pathname) {
            case "/":
                selected = ($('.nav-link:contains("Главная")'));
                break;
            case "/login":
                selected = ($('.nav-link:contains("Войти")'));
                break;
            case "/register":
                selected = ($('.nav-link:contains("Регистрация")'));
                break;
        }
        selected.addClass('active');
</script>